<div class="gallery__container">
  <app-toolbar></app-toolbar>

  <div class="wrapper">
    <img
      src="https://c4.wallpaperflare.com/wallpaper/310/769/226/son-goku-dragon-ball-z-bulma-1280x1024-anime-dragonball-hd-art-wallpaper-preview.jpg"
      alt=""
    />
    <img
      src="https://c4.wallpaperflare.com/wallpaper/310/769/226/son-goku-dragon-ball-z-bulma-1280x1024-anime-dragonball-hd-art-wallpaper-preview.jpg"
      alt=""
    />
    <img
      src="https://c4.wallpaperflare.com/wallpaper/310/769/226/son-goku-dragon-ball-z-bulma-1280x1024-anime-dragonball-hd-art-wallpaper-preview.jpg"
      alt=""
    />
    <img
      src="https://c4.wallpaperflare.com/wallpaper/310/769/226/son-goku-dragon-ball-z-bulma-1280x1024-anime-dragonball-hd-art-wallpaper-preview.jpg"
      alt=""
    />

    <img
      src="https://c4.wallpaperflare.com/wallpaper/310/769/226/son-goku-dragon-ball-z-bulma-1280x1024-anime-dragonball-hd-art-wallpaper-preview.jpg"
      alt=""
    />
    <img
      src="https://c4.wallpaperflare.com/wallpaper/310/769/226/son-goku-dragon-ball-z-bulma-1280x1024-anime-dragonball-hd-art-wallpaper-preview.jpg"
      alt=""
    />
    <img
      src="https://c4.wallpaperflare.com/wallpaper/310/769/226/son-goku-dragon-ball-z-bulma-1280x1024-anime-dragonball-hd-art-wallpaper-preview.jpg"
      alt=""
    />
  </div>
</div>
